.navbar-inicio {
  width: 100%;
  background-color: #0a3d62;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
}

/* Contenedor del logo y texto */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre logo y texto */
}

.navbar-logo {
  height: 60px;
  border-radius: 10px;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* ajusta tamaño */
  font-weight: 700;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #74b9ff;
}
